<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4da455e9cf83e5b4017adaab0f1286fa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_4da455e9cf83e5b4017adaab0f1286fa" ></div>
        
</body>
<script>
    
    
            var map_4da455e9cf83e5b4017adaab0f1286fa = L.map(
                "map_4da455e9cf83e5b4017adaab0f1286fa",
                {
                    center: [47.471646, -0.551846],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4e57f5392b69eed54868fa6d3a7de400 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var marker_09012fc6993406db01ab0bf81bd2fdeb = L.marker(
                [47.4717771693, -0.552579818162],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_5c2510617a84a2b766f0e2c3287132be = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_09012fc6993406db01ab0bf81bd2fdeb.setIcon(icon_5c2510617a84a2b766f0e2c3287132be);
        
    
        var popup_099ce5d8aabe25e2662b3dd70407f755 = L.popup({"maxWidth": "100%"});

        
            
                var html_33a67f92e2480283b9d73d4bd566438d = $(`<div id="html_33a67f92e2480283b9d73d4bd566438d" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_099ce5d8aabe25e2662b3dd70407f755.setContent(html_33a67f92e2480283b9d73d4bd566438d);
            
        

        marker_09012fc6993406db01ab0bf81bd2fdeb.bindPopup(popup_099ce5d8aabe25e2662b3dd70407f755)
        ;

        
    
    
            var marker_a15234612d65005e6bec11a59129478b = L.marker(
                [47.4787367305, -0.560336710796],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_34c667f7f82995bbca3a4eafe6843628 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a15234612d65005e6bec11a59129478b.setIcon(icon_34c667f7f82995bbca3a4eafe6843628);
        
    
        var popup_fbccaedeccf84f18fad4d57b3066af74 = L.popup({"maxWidth": "100%"});

        
            
                var html_7c860ce1237a856bfeefeb539988ccff = $(`<div id="html_7c860ce1237a856bfeefeb539988ccff" style="width: 100.0%; height: 100.0%;">Maison (ancienne aumône publique)</div>`)[0];
                popup_fbccaedeccf84f18fad4d57b3066af74.setContent(html_7c860ce1237a856bfeefeb539988ccff);
            
        

        marker_a15234612d65005e6bec11a59129478b.bindPopup(popup_fbccaedeccf84f18fad4d57b3066af74)
        ;

        
    
    
            var marker_6a5b20f79d50c4f6e916b0ebc6f40306 = L.marker(
                [47.4698343506, -0.554207998747],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_a23c9e490790350dcea05a129abdfa36 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6a5b20f79d50c4f6e916b0ebc6f40306.setIcon(icon_a23c9e490790350dcea05a129abdfa36);
        
    
        var popup_4d5b89a749cf2c1908b711ca8ccddf6d = L.popup({"maxWidth": "100%"});

        
            
                var html_2cf3dcd96e7d78ad2bee897c47ce9dad = $(`<div id="html_2cf3dcd96e7d78ad2bee897c47ce9dad" style="width: 100.0%; height: 100.0%;">Auberge de la Tête Noire</div>`)[0];
                popup_4d5b89a749cf2c1908b711ca8ccddf6d.setContent(html_2cf3dcd96e7d78ad2bee897c47ce9dad);
            
        

        marker_6a5b20f79d50c4f6e916b0ebc6f40306.bindPopup(popup_4d5b89a749cf2c1908b711ca8ccddf6d)
        ;

        
    
    
            var marker_6360cf0784e8fc82d9b157a10e852c73 = L.marker(
                [47.4749229435, -0.56153612887],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_d58137501f495563d02f1b21cf97e4f5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6360cf0784e8fc82d9b157a10e852c73.setIcon(icon_d58137501f495563d02f1b21cf97e4f5);
        
    
        var popup_27726f1cff54897927ce4ee94c11c2fc = L.popup({"maxWidth": "100%"});

        
            
                var html_786a0cf451bdbc58ef79f9c649c1f133 = $(`<div id="html_786a0cf451bdbc58ef79f9c649c1f133" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_27726f1cff54897927ce4ee94c11c2fc.setContent(html_786a0cf451bdbc58ef79f9c649c1f133);
            
        

        marker_6360cf0784e8fc82d9b157a10e852c73.bindPopup(popup_27726f1cff54897927ce4ee94c11c2fc)
        ;

        
    
    
            var marker_abd53e90917d62456d44ef7944d13591 = L.marker(
                [47.4689848027, -0.554142002163],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_01f197587259d1c2c98af818896f81df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_abd53e90917d62456d44ef7944d13591.setIcon(icon_01f197587259d1c2c98af818896f81df);
        
    
        var popup_69c6f5b09713c8db55b00f54e5ea1236 = L.popup({"maxWidth": "100%"});

        
            
                var html_8715f055981261b537bffe61d5155107 = $(`<div id="html_8715f055981261b537bffe61d5155107" style="width: 100.0%; height: 100.0%;">Immeuble</div>`)[0];
                popup_69c6f5b09713c8db55b00f54e5ea1236.setContent(html_8715f055981261b537bffe61d5155107);
            
        

        marker_abd53e90917d62456d44ef7944d13591.bindPopup(popup_69c6f5b09713c8db55b00f54e5ea1236)
        ;

        
    
    
            var marker_0fa59f0c64318f41be9f0287b12213e4 = L.marker(
                [47.4692735683, -0.55394061111],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_de7894e5471077006ef8283866c8eefc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0fa59f0c64318f41be9f0287b12213e4.setIcon(icon_de7894e5471077006ef8283866c8eefc);
        
    
        var popup_9e1728d25f5dfab66209dfb427d99e7e = L.popup({"maxWidth": "100%"});

        
            
                var html_e46a9c1670a93817994e9762fda6a5c9 = $(`<div id="html_e46a9c1670a93817994e9762fda6a5c9" style="width: 100.0%; height: 100.0%;">Immeuble</div>`)[0];
                popup_9e1728d25f5dfab66209dfb427d99e7e.setContent(html_e46a9c1670a93817994e9762fda6a5c9);
            
        

        marker_0fa59f0c64318f41be9f0287b12213e4.bindPopup(popup_9e1728d25f5dfab66209dfb427d99e7e)
        ;

        
    
    
            var marker_75812210ea64043cdcf52a6f88ba630e = L.marker(
                [47.471832, -0.555784],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_377253800380d03225b6a2f515f0200d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_75812210ea64043cdcf52a6f88ba630e.setIcon(icon_377253800380d03225b6a2f515f0200d);
        
    
        var popup_073be12208f279ee9eff3b1c7f7253ee = L.popup({"maxWidth": "100%"});

        
            
                var html_3927d4654562457febdd0a0466ce1d68 = $(`<div id="html_3927d4654562457febdd0a0466ce1d68" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_073be12208f279ee9eff3b1c7f7253ee.setContent(html_3927d4654562457febdd0a0466ce1d68);
            
        

        marker_75812210ea64043cdcf52a6f88ba630e.bindPopup(popup_073be12208f279ee9eff3b1c7f7253ee)
        ;

        
    
    
            var marker_cef7c212466ac512b6c18d6c360086ca = L.marker(
                [47.4684107745, -0.557122562917],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_4afb399da226409e655fbc461cd10ca7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cef7c212466ac512b6c18d6c360086ca.setIcon(icon_4afb399da226409e655fbc461cd10ca7);
        
    
        var popup_ce027406c689b1f84edc99fca96a4f26 = L.popup({"maxWidth": "100%"});

        
            
                var html_823875064658c068e0d41a63a9eec11c = $(`<div id="html_823875064658c068e0d41a63a9eec11c" style="width: 100.0%; height: 100.0%;">Maison-clairière</div>`)[0];
                popup_ce027406c689b1f84edc99fca96a4f26.setContent(html_823875064658c068e0d41a63a9eec11c);
            
        

        marker_cef7c212466ac512b6c18d6c360086ca.bindPopup(popup_ce027406c689b1f84edc99fca96a4f26)
        ;

        
    
    
            var marker_16a138e16014acbc6239007e167ed741 = L.marker(
                [47.469355517, -0.554029690968],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_f9b438032c4b229ac0b904d258fcca98 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_16a138e16014acbc6239007e167ed741.setIcon(icon_f9b438032c4b229ac0b904d258fcca98);
        
    
        var popup_38b06d95ac3bc43d4ff3bb6a634141e7 = L.popup({"maxWidth": "100%"});

        
            
                var html_b0628e1a0428e0aa5ee71e6e13955384 = $(`<div id="html_b0628e1a0428e0aa5ee71e6e13955384" style="width: 100.0%; height: 100.0%;">Immeuble</div>`)[0];
                popup_38b06d95ac3bc43d4ff3bb6a634141e7.setContent(html_b0628e1a0428e0aa5ee71e6e13955384);
            
        

        marker_16a138e16014acbc6239007e167ed741.bindPopup(popup_38b06d95ac3bc43d4ff3bb6a634141e7)
        ;

        
    
    
            var marker_a6c82861a8245c6b4d04ed5b7b95ebf6 = L.marker(
                [47.4769318631, -0.576415680431],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_b4fc79cda45e64d93d9a7111b67cf42a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a6c82861a8245c6b4d04ed5b7b95ebf6.setIcon(icon_b4fc79cda45e64d93d9a7111b67cf42a);
        
    
        var popup_e1b344d9c7a70bba1fc9138533aa62bd = L.popup({"maxWidth": "100%"});

        
            
                var html_e6d6f02a2c99902e45aac766fc20b52b = $(`<div id="html_e6d6f02a2c99902e45aac766fc20b52b" style="width: 100.0%; height: 100.0%;">Chapelle funéraire de la famille Thouin</div>`)[0];
                popup_e1b344d9c7a70bba1fc9138533aa62bd.setContent(html_e6d6f02a2c99902e45aac766fc20b52b);
            
        

        marker_a6c82861a8245c6b4d04ed5b7b95ebf6.bindPopup(popup_e1b344d9c7a70bba1fc9138533aa62bd)
        ;

        
    
    
            var marker_ff574921a2adbeb9ab6724e4b07c9b91 = L.marker(
                [47.474909225, -0.561469637812],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_36e7eda244f123b25f4080103b76cc9c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ff574921a2adbeb9ab6724e4b07c9b91.setIcon(icon_36e7eda244f123b25f4080103b76cc9c);
        
    
        var popup_c19225c9786e7cad063da46ed2e0621b = L.popup({"maxWidth": "100%"});

        
            
                var html_04135eed47651c71cb5afe5f0d6e099b = $(`<div id="html_04135eed47651c71cb5afe5f0d6e099b" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_c19225c9786e7cad063da46ed2e0621b.setContent(html_04135eed47651c71cb5afe5f0d6e099b);
            
        

        marker_ff574921a2adbeb9ab6724e4b07c9b91.bindPopup(popup_c19225c9786e7cad063da46ed2e0621b)
        ;

        
    
    
            var marker_8abf621f2322a6d2b238aa114c19d2be = L.marker(
                [47.4748746111, -0.561418527049],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_e0a2dccd8668dc7d5e0c20909e8bd136 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_8abf621f2322a6d2b238aa114c19d2be.setIcon(icon_e0a2dccd8668dc7d5e0c20909e8bd136);
        
    
        var popup_700372f2a93e2e6e82016f6327170521 = L.popup({"maxWidth": "100%"});

        
            
                var html_8ad31bbaa003cc32ddfca5e7109a32a2 = $(`<div id="html_8ad31bbaa003cc32ddfca5e7109a32a2" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_700372f2a93e2e6e82016f6327170521.setContent(html_8ad31bbaa003cc32ddfca5e7109a32a2);
            
        

        marker_8abf621f2322a6d2b238aa114c19d2be.bindPopup(popup_700372f2a93e2e6e82016f6327170521)
        ;

        
    
    
            var marker_d893a144248262a29459181bb0727b1a = L.marker(
                [47.4470062228, -0.525984914269],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_2d3823ffa6eee31463d750af3d4bd9c6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d893a144248262a29459181bb0727b1a.setIcon(icon_2d3823ffa6eee31463d750af3d4bd9c6);
        
    
        var popup_6e43392cf5a6e2d8c5e7b91605f71c12 = L.popup({"maxWidth": "100%"});

        
            
                var html_c66517821c53e0a8541f522e8f0e03d7 = $(`<div id="html_c66517821c53e0a8541f522e8f0e03d7" style="width: 100.0%; height: 100.0%;">Eglise Saint-Augustin-lès-Angers</div>`)[0];
                popup_6e43392cf5a6e2d8c5e7b91605f71c12.setContent(html_c66517821c53e0a8541f522e8f0e03d7);
            
        

        marker_d893a144248262a29459181bb0727b1a.bindPopup(popup_6e43392cf5a6e2d8c5e7b91605f71c12)
        ;

        
    
    
            var marker_61fb6626af8ae5da3d4cb9a5ec5dde42 = L.marker(
                [47.4748287266, -0.563218095792],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_f34d014951c8ddc67e5a5e63a0e8f0a9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_61fb6626af8ae5da3d4cb9a5ec5dde42.setIcon(icon_f34d014951c8ddc67e5a5e63a0e8f0a9);
        
    
        var popup_01101014e387f6d69f39fd8fa3583102 = L.popup({"maxWidth": "100%"});

        
            
                var html_ad2504efa12ae24e2db96c30ec3f15b1 = $(`<div id="html_ad2504efa12ae24e2db96c30ec3f15b1" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_01101014e387f6d69f39fd8fa3583102.setContent(html_ad2504efa12ae24e2db96c30ec3f15b1);
            
        

        marker_61fb6626af8ae5da3d4cb9a5ec5dde42.bindPopup(popup_01101014e387f6d69f39fd8fa3583102)
        ;

        
    
    
            var marker_54f26dbf4b1e54cc3ddc9148b9e885e1 = L.marker(
                [47.4629228354, -0.517767981869],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_22c40f3cf8975db779e6ecf62741eff7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_54f26dbf4b1e54cc3ddc9148b9e885e1.setIcon(icon_22c40f3cf8975db779e6ecf62741eff7);
        
    
        var popup_c513c004a4aa369825838acce930910d = L.popup({"maxWidth": "100%"});

        
            
                var html_2c3bc95eae9cbdc379d1af26701c88da = $(`<div id="html_2c3bc95eae9cbdc379d1af26701c88da" style="width: 100.0%; height: 100.0%;">Manoir de Villechien</div>`)[0];
                popup_c513c004a4aa369825838acce930910d.setContent(html_2c3bc95eae9cbdc379d1af26701c88da);
            
        

        marker_54f26dbf4b1e54cc3ddc9148b9e885e1.bindPopup(popup_c513c004a4aa369825838acce930910d)
        ;

        
    
    
            var marker_e395b5d83674bf5aaf01bd3e8e77b829 = L.marker(
                [47.4766553455, -0.561182479252],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_3bf13c83386581799f658e8a6c12a17a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_e395b5d83674bf5aaf01bd3e8e77b829.setIcon(icon_3bf13c83386581799f658e8a6c12a17a);
        
    
        var popup_d3ea508fe6736ea695b0c6ade0107ce7 = L.popup({"maxWidth": "100%"});

        
            
                var html_b7b65055db31c5b1bdc0f68684d14248 = $(`<div id="html_b7b65055db31c5b1bdc0f68684d14248" style="width: 100.0%; height: 100.0%;">Immeuble</div>`)[0];
                popup_d3ea508fe6736ea695b0c6ade0107ce7.setContent(html_b7b65055db31c5b1bdc0f68684d14248);
            
        

        marker_e395b5d83674bf5aaf01bd3e8e77b829.bindPopup(popup_d3ea508fe6736ea695b0c6ade0107ce7)
        ;

        
    
    
            var marker_82fac327d3a9fc0acb3bb91345f4a698 = L.marker(
                [47.4749402174, -0.561604310413],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_02b31a43dc785ac632ae5825c9a10b08 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_82fac327d3a9fc0acb3bb91345f4a698.setIcon(icon_02b31a43dc785ac632ae5825c9a10b08);
        
    
        var popup_5498cea33fb42895d56ed635216461f2 = L.popup({"maxWidth": "100%"});

        
            
                var html_d224e7bd9626869cd9e2d09a61c1c4d9 = $(`<div id="html_d224e7bd9626869cd9e2d09a61c1c4d9" style="width: 100.0%; height: 100.0%;">Maison de Simon Poisson</div>`)[0];
                popup_5498cea33fb42895d56ed635216461f2.setContent(html_d224e7bd9626869cd9e2d09a61c1c4d9);
            
        

        marker_82fac327d3a9fc0acb3bb91345f4a698.bindPopup(popup_5498cea33fb42895d56ed635216461f2)
        ;

        
    
    
            var marker_cc6d9c912956380d7a2450d5a6cd791a = L.marker(
                [47.4721548865, -0.549087783167],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_31e9897d0f20bd7ba9f7220e4faaadcf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_cc6d9c912956380d7a2450d5a6cd791a.setIcon(icon_31e9897d0f20bd7ba9f7220e4faaadcf);
        
    
        var popup_9dcb06084b6ca0540a0da5458764f994 = L.popup({"maxWidth": "100%"});

        
            
                var html_d06ad58d3b6c3e0267d6b0bf99a334bb = $(`<div id="html_d06ad58d3b6c3e0267d6b0bf99a334bb" style="width: 100.0%; height: 100.0%;">Immeuble</div>`)[0];
                popup_9dcb06084b6ca0540a0da5458764f994.setContent(html_d06ad58d3b6c3e0267d6b0bf99a334bb);
            
        

        marker_cc6d9c912956380d7a2450d5a6cd791a.bindPopup(popup_9dcb06084b6ca0540a0da5458764f994)
        ;

        
    
    
            var marker_78d060727098217fa7747fff86786336 = L.marker(
                [47.4748563054, -0.561311260964],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_1e1104f359b05707a2111ff1b7125bbf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_78d060727098217fa7747fff86786336.setIcon(icon_1e1104f359b05707a2111ff1b7125bbf);
        
    
        var popup_23557dee676aa89c58a16944c3f0bc3b = L.popup({"maxWidth": "100%"});

        
            
                var html_375b20cb812b8ced1b049bc41e38b0db = $(`<div id="html_375b20cb812b8ced1b049bc41e38b0db" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_23557dee676aa89c58a16944c3f0bc3b.setContent(html_375b20cb812b8ced1b049bc41e38b0db);
            
        

        marker_78d060727098217fa7747fff86786336.bindPopup(popup_23557dee676aa89c58a16944c3f0bc3b)
        ;

        
    
    
            var marker_73b7003273f0ddd59362b4ee874e2b64 = L.marker(
                [47.4598438977, -0.599362110343],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_4b5bc74ef931633cde00cf94259cb859 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_73b7003273f0ddd59362b4ee874e2b64.setIcon(icon_4b5bc74ef931633cde00cf94259cb859);
        
    
        var popup_e890a72aa1b7be0b8d0b82b3a25c4784 = L.popup({"maxWidth": "100%"});

        
            
                var html_6a32bd6f55a3afb08f61a6e3831b8cfa = $(`<div id="html_6a32bd6f55a3afb08f61a6e3831b8cfa" style="width: 100.0%; height: 100.0%;">Chapelle de la Papillaie</div>`)[0];
                popup_e890a72aa1b7be0b8d0b82b3a25c4784.setContent(html_6a32bd6f55a3afb08f61a6e3831b8cfa);
            
        

        marker_73b7003273f0ddd59362b4ee874e2b64.bindPopup(popup_e890a72aa1b7be0b8d0b82b3a25c4784)
        ;

        
    
    
            var marker_d5bc5133c8f0c586a6aeb48d69159595 = L.marker(
                [47.4719580669, -0.549368108673],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_4296dd186a712e14150ab134eae60838 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d5bc5133c8f0c586a6aeb48d69159595.setIcon(icon_4296dd186a712e14150ab134eae60838);
        
    
        var popup_a647782b3edda06ba3d65e6ed2ab49ef = L.popup({"maxWidth": "100%"});

        
            
                var html_854ae242b5ce16f51a1af8f11fc53f2c = $(`<div id="html_854ae242b5ce16f51a1af8f11fc53f2c" style="width: 100.0%; height: 100.0%;">Immeuble</div>`)[0];
                popup_a647782b3edda06ba3d65e6ed2ab49ef.setContent(html_854ae242b5ce16f51a1af8f11fc53f2c);
            
        

        marker_d5bc5133c8f0c586a6aeb48d69159595.bindPopup(popup_a647782b3edda06ba3d65e6ed2ab49ef)
        ;

        
    
    
            var marker_d4778ba862bad075b342ac0f1980ba65 = L.marker(
                [47.4594461161, -0.546853831981],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_c19e5acfe71652a61ffc57315d675b52 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d4778ba862bad075b342ac0f1980ba65.setIcon(icon_c19e5acfe71652a61ffc57315d675b52);
        
    
        var popup_875ee06e12ba8f9864ca21b810611423 = L.popup({"maxWidth": "100%"});

        
            
                var html_a44ba8046af7e6e809e70df32c3dce28 = $(`<div id="html_a44ba8046af7e6e809e70df32c3dce28" style="width: 100.0%; height: 100.0%;">Logis de Haute Folie</div>`)[0];
                popup_875ee06e12ba8f9864ca21b810611423.setContent(html_a44ba8046af7e6e809e70df32c3dce28);
            
        

        marker_d4778ba862bad075b342ac0f1980ba65.bindPopup(popup_875ee06e12ba8f9864ca21b810611423)
        ;

        
    
    
            var marker_0ed0f0a5269a4183529b18dab5c3ec73 = L.marker(
                [47.4863612202, -0.530586721066],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_16c17294df326883275d6f943cf66fe0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_0ed0f0a5269a4183529b18dab5c3ec73.setIcon(icon_16c17294df326883275d6f943cf66fe0);
        
    
        var popup_65166c9229aa89049626765a3f90f030 = L.popup({"maxWidth": "100%"});

        
            
                var html_85ab6691232abd5427a2888d65c2e18d = $(`<div id="html_85ab6691232abd5427a2888d65c2e18d" style="width: 100.0%; height: 100.0%;">Manoir du Grand Nozay</div>`)[0];
                popup_65166c9229aa89049626765a3f90f030.setContent(html_85ab6691232abd5427a2888d65c2e18d);
            
        

        marker_0ed0f0a5269a4183529b18dab5c3ec73.bindPopup(popup_65166c9229aa89049626765a3f90f030)
        ;

        
    
    
            var marker_035edf9df0c459f708aafa08d5a77b73 = L.marker(
                [47.4724231476, -0.552459255735],
                {}
            ).addTo(map_4da455e9cf83e5b4017adaab0f1286fa);
        
    
            var icon_d077bfbb2b055a57f5b56996f9c22966 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_035edf9df0c459f708aafa08d5a77b73.setIcon(icon_d077bfbb2b055a57f5b56996f9c22966);
        
    
        var popup_e0957986f354524e0f711ce3d0d12814 = L.popup({"maxWidth": "100%"});

        
            
                var html_5451052a43decd6c3807f241458104d2 = $(`<div id="html_5451052a43decd6c3807f241458104d2" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_e0957986f354524e0f711ce3d0d12814.setContent(html_5451052a43decd6c3807f241458104d2);
            
        

        marker_035edf9df0c459f708aafa08d5a77b73.bindPopup(popup_e0957986f354524e0f711ce3d0d12814)
        ;

        
    
</script>
</html>