<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5553b9c3d27055e80e6a0a520b5235fe {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_5553b9c3d27055e80e6a0a520b5235fe" ></div>
        
</body>
<script>
    
    
            var map_5553b9c3d27055e80e6a0a520b5235fe = L.map(
                "map_5553b9c3d27055e80e6a0a520b5235fe",
                {
                    center: [47.471646, -0.551846],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8fec6080a4ebc2dfc527e87964b6952d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var marker_d9284aab92d557380f0a286b6558d2bb = L.marker(
                [47.4781588629, -0.557789014226],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_6983dbd882b0a9192ada8dc23ca4c254 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d9284aab92d557380f0a286b6558d2bb.setIcon(icon_6983dbd882b0a9192ada8dc23ca4c254);
        
    
        var popup_7d82d5da91b5d96e4c133b7e649fdb49 = L.popup({"maxWidth": "100%"});

        
            
                var html_b462f9853c648b056371ea5b447646ce = $(`<div id="html_b462f9853c648b056371ea5b447646ce" style="width: 100.0%; height: 100.0%;">Hôtel Dieu (ancien hôpital Saint-Jean)</div>`)[0];
                popup_7d82d5da91b5d96e4c133b7e649fdb49.setContent(html_b462f9853c648b056371ea5b447646ce);
            
        

        marker_d9284aab92d557380f0a286b6558d2bb.bindPopup(popup_7d82d5da91b5d96e4c133b7e649fdb49)
        ;

        
    
    
            var marker_5316216928e436868da4ef3b2e689237 = L.marker(
                [47.4754868888, -0.56479989729],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_39869fc178bc5d088e3948aa2110395c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5316216928e436868da4ef3b2e689237.setIcon(icon_39869fc178bc5d088e3948aa2110395c);
        
    
        var popup_6b0075f40f7d6e80b66d548266864c82 = L.popup({"maxWidth": "100%"});

        
            
                var html_1c5aed883a898ee286531c0de6ce19f2 = $(`<div id="html_1c5aed883a898ee286531c0de6ce19f2" style="width: 100.0%; height: 100.0%;">Hôtel des Pénitents</div>`)[0];
                popup_6b0075f40f7d6e80b66d548266864c82.setContent(html_1c5aed883a898ee286531c0de6ce19f2);
            
        

        marker_5316216928e436868da4ef3b2e689237.bindPopup(popup_6b0075f40f7d6e80b66d548266864c82)
        ;

        
    
    
            var marker_9a6c14c71633050712ba108f316bc4b6 = L.marker(
                [47.4737090177, -0.546284142085],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_2474c8b430f351d05a7d7c056710989f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_9a6c14c71633050712ba108f316bc4b6.setIcon(icon_2474c8b430f351d05a7d7c056710989f);
        
    
        var popup_b8b787e77c7825d8f9c5558a163b829d = L.popup({"maxWidth": "100%"});

        
            
                var html_34cefae56f6e7c620f612b004abcb749 = $(`<div id="html_34cefae56f6e7c620f612b004abcb749" style="width: 100.0%; height: 100.0%;">Hôtel Demarie, actuellement musée d'histoire naturelle</div>`)[0];
                popup_b8b787e77c7825d8f9c5558a163b829d.setContent(html_34cefae56f6e7c620f612b004abcb749);
            
        

        marker_9a6c14c71633050712ba108f316bc4b6.bindPopup(popup_b8b787e77c7825d8f9c5558a163b829d)
        ;

        
    
    
            var marker_6acb5a88c62aaec2ded31816fa61a93e = L.marker(
                [47.4693414109, -0.554747026705],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_b7b5e13daa11669f0dd1a5d8d7495e47 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_6acb5a88c62aaec2ded31816fa61a93e.setIcon(icon_b7b5e13daa11669f0dd1a5d8d7495e47);
        
    
        var popup_1b056fe0908cf057ec7a66d023332a27 = L.popup({"maxWidth": "100%"});

        
            
                var html_9050c50b7c66a70779b348ddcacf9cee = $(`<div id="html_9050c50b7c66a70779b348ddcacf9cee" style="width: 100.0%; height: 100.0%;">Temple (ancienne chapelle saint-Eloi)</div>`)[0];
                popup_1b056fe0908cf057ec7a66d023332a27.setContent(html_9050c50b7c66a70779b348ddcacf9cee);
            
        

        marker_6acb5a88c62aaec2ded31816fa61a93e.bindPopup(popup_1b056fe0908cf057ec7a66d023332a27)
        ;

        
    
    
            var marker_c1172290f4ca870a62706d18765b4d42 = L.marker(
                [47.4804219174, -0.564147355308],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_bac9a56c7e74b5af283e2244b54cd13d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_c1172290f4ca870a62706d18765b4d42.setIcon(icon_bac9a56c7e74b5af283e2244b54cd13d);
        
    
        var popup_28cfcbe96cb358db60f9b6a5576a1a42 = L.popup({"maxWidth": "100%"});

        
            
                var html_27053300916dab62f7a6213ab8ee956b = $(`<div id="html_27053300916dab62f7a6213ab8ee956b" style="width: 100.0%; height: 100.0%;">Eglise Sainte-Thérèse</div>`)[0];
                popup_28cfcbe96cb358db60f9b6a5576a1a42.setContent(html_27053300916dab62f7a6213ab8ee956b);
            
        

        marker_c1172290f4ca870a62706d18765b4d42.bindPopup(popup_28cfcbe96cb358db60f9b6a5576a1a42)
        ;

        
    
    
            var marker_aa76492da2d99e519c14e97c7390d788 = L.marker(
                [47.47628, -0.547547],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_2346630f5d98c1bd8790666e550e6564 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_aa76492da2d99e519c14e97c7390d788.setIcon(icon_2346630f5d98c1bd8790666e550e6564);
        
    
        var popup_3877531b83ee4b47791b1528da7c9bf7 = L.popup({"maxWidth": "100%"});

        
            
                var html_d65886687a15ee5be35beb8db9fc7fc8 = $(`<div id="html_d65886687a15ee5be35beb8db9fc7fc8" style="width: 100.0%; height: 100.0%;">Ancien grand séminaire Saint-Serge, aujourd'hui lycée Joachim-du-Bellay</div>`)[0];
                popup_3877531b83ee4b47791b1528da7c9bf7.setContent(html_d65886687a15ee5be35beb8db9fc7fc8);
            
        

        marker_aa76492da2d99e519c14e97c7390d788.bindPopup(popup_3877531b83ee4b47791b1528da7c9bf7)
        ;

        
    
    
            var marker_2ff7a0c84aad45330b2efce7bb195577 = L.marker(
                [47.4750187114, -0.560980694872],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_d72ee723da5d51f1b0f8232b016ecd6b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_2ff7a0c84aad45330b2efce7bb195577.setIcon(icon_d72ee723da5d51f1b0f8232b016ecd6b);
        
    
        var popup_00d8017f67c4c7ec1d781ed556275435 = L.popup({"maxWidth": "100%"});

        
            
                var html_3f4c6051ffd6b4e27a9f03da5e6a13a8 = $(`<div id="html_3f4c6051ffd6b4e27a9f03da5e6a13a8" style="width: 100.0%; height: 100.0%;">Eglise de la Trinité</div>`)[0];
                popup_00d8017f67c4c7ec1d781ed556275435.setContent(html_3f4c6051ffd6b4e27a9f03da5e6a13a8);
            
        

        marker_2ff7a0c84aad45330b2efce7bb195577.bindPopup(popup_00d8017f67c4c7ec1d781ed556275435)
        ;

        
    
    
            var marker_d7e74d9a8f92f3671b5b8d8c32b404fd = L.marker(
                [47.4751180849, -0.562140686222],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_9970b1a064348dab2c78049c76a33db3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_d7e74d9a8f92f3671b5b8d8c32b404fd.setIcon(icon_9970b1a064348dab2c78049c76a33db3);
        
    
        var popup_edfc7b141eb28a36fa3d2685fe1cd03d = L.popup({"maxWidth": "100%"});

        
            
                var html_e9d45a4b403e1b6a6a84c7d8ce8db58e = $(`<div id="html_e9d45a4b403e1b6a6a84c7d8ce8db58e" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_edfc7b141eb28a36fa3d2685fe1cd03d.setContent(html_e9d45a4b403e1b6a6a84c7d8ce8db58e);
            
        

        marker_d7e74d9a8f92f3671b5b8d8c32b404fd.bindPopup(popup_edfc7b141eb28a36fa3d2685fe1cd03d)
        ;

        
    
    
            var marker_a7b7c7f4ac24482b542c69bad154116b = L.marker(
                [47.478954897, -0.555621978161],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_65aef948f9b6d7f8e9efdd85e5bfbd92 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_a7b7c7f4ac24482b542c69bad154116b.setIcon(icon_65aef948f9b6d7f8e9efdd85e5bfbd92);
        
    
        var popup_4f6d30a68ce3c217a2752b4465edecf8 = L.popup({"maxWidth": "100%"});

        
            
                var html_fc3fcd7be9f8d6c8262f9a04297da040 = $(`<div id="html_fc3fcd7be9f8d6c8262f9a04297da040" style="width: 100.0%; height: 100.0%;">Tour de la Haute-Chaîne</div>`)[0];
                popup_4f6d30a68ce3c217a2752b4465edecf8.setContent(html_fc3fcd7be9f8d6c8262f9a04297da040);
            
        

        marker_a7b7c7f4ac24482b542c69bad154116b.bindPopup(popup_4f6d30a68ce3c217a2752b4465edecf8)
        ;

        
    
    
            var marker_bac8e9a83ccd0b037f1dd01ca438c637 = L.marker(
                [47.4720432283, -0.552059914108],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_7b9d32c08aba81f48ab283aa4d48d9e0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bac8e9a83ccd0b037f1dd01ca438c637.setIcon(icon_7b9d32c08aba81f48ab283aa4d48d9e0);
        
    
        var popup_9be7aa62ffe2fdbfda73d0bb136f6337 = L.popup({"maxWidth": "100%"});

        
            
                var html_fbcc9d76167fcdaf6ae684356b31af54 = $(`<div id="html_fbcc9d76167fcdaf6ae684356b31af54" style="width: 100.0%; height: 100.0%;">Hôtel Pincé</div>`)[0];
                popup_9be7aa62ffe2fdbfda73d0bb136f6337.setContent(html_fbcc9d76167fcdaf6ae684356b31af54);
            
        

        marker_bac8e9a83ccd0b037f1dd01ca438c637.bindPopup(popup_9be7aa62ffe2fdbfda73d0bb136f6337)
        ;

        
    
    
            var marker_5d5ca566cc0e5eecbb71374fd7d6c306 = L.marker(
                [47.4711352393, -0.548518900826],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_9e1b8108167e32fcdc06b3b2cee1358c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_5d5ca566cc0e5eecbb71374fd7d6c306.setIcon(icon_9e1b8108167e32fcdc06b3b2cee1358c);
        
    
        var popup_72ae21af2341b721246c4963f553fef6 = L.popup({"maxWidth": "100%"});

        
            
                var html_248a7623226f9444366eae9233f8257d = $(`<div id="html_248a7623226f9444366eae9233f8257d" style="width: 100.0%; height: 100.0%;">Chapelle des Ursulines</div>`)[0];
                popup_72ae21af2341b721246c4963f553fef6.setContent(html_248a7623226f9444366eae9233f8257d);
            
        

        marker_5d5ca566cc0e5eecbb71374fd7d6c306.bindPopup(popup_72ae21af2341b721246c4963f553fef6)
        ;

        
    
    
            var marker_bb1fd3131e327ad00b7ce524acbe72fe = L.marker(
                [47.4724531835, -0.548777378452],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_ba8cc84f1a2eb0c14114d0a5ad8630dd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_bb1fd3131e327ad00b7ce524acbe72fe.setIcon(icon_ba8cc84f1a2eb0c14114d0a5ad8630dd);
        
    
        var popup_340603a7c917425d71c9cf1e189ba490 = L.popup({"maxWidth": "100%"});

        
            
                var html_f2aedc5114973ada0b2ca9b6910d9b2f = $(`<div id="html_f2aedc5114973ada0b2ca9b6910d9b2f" style="width: 100.0%; height: 100.0%;">Maison</div>`)[0];
                popup_340603a7c917425d71c9cf1e189ba490.setContent(html_f2aedc5114973ada0b2ca9b6910d9b2f);
            
        

        marker_bb1fd3131e327ad00b7ce524acbe72fe.bindPopup(popup_340603a7c917425d71c9cf1e189ba490)
        ;

        
    
    
            var marker_f08c21b8887f2ca1ddda7e08daf96aca = L.marker(
                [47.4728607502, -0.548143341581],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_5008a1910007d27c45d7dbfbb8861432 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_f08c21b8887f2ca1ddda7e08daf96aca.setIcon(icon_5008a1910007d27c45d7dbfbb8861432);
        
    
        var popup_e5688ae2fd4bcea8467a89f256e20a86 = L.popup({"maxWidth": "100%"});

        
            
                var html_d005a49edeb469dd7d978f77c8585a5c = $(`<div id="html_d005a49edeb469dd7d978f77c8585a5c" style="width: 100.0%; height: 100.0%;">Eglise Notre-Dame des Victoires</div>`)[0];
                popup_e5688ae2fd4bcea8467a89f256e20a86.setContent(html_d005a49edeb469dd7d978f77c8585a5c);
            
        

        marker_f08c21b8887f2ca1ddda7e08daf96aca.bindPopup(popup_e5688ae2fd4bcea8467a89f256e20a86)
        ;

        
    
    
            var marker_ae8350e4e280cc1043fc1c59d8fb0469 = L.marker(
                [47.4729725505, -0.548996660508],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_55181308ac7cac78bf2fed47a5507f3d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_ae8350e4e280cc1043fc1c59d8fb0469.setIcon(icon_55181308ac7cac78bf2fed47a5507f3d);
        
    
        var popup_2e5171c3101e0d161d55b413e79f22f8 = L.popup({"maxWidth": "100%"});

        
            
                var html_2a29506949b3d344679755b4a91b1d9a = $(`<div id="html_2a29506949b3d344679755b4a91b1d9a" style="width: 100.0%; height: 100.0%;">Hôtel dit de Lancrau</div>`)[0];
                popup_2e5171c3101e0d161d55b413e79f22f8.setContent(html_2a29506949b3d344679755b4a91b1d9a);
            
        

        marker_ae8350e4e280cc1043fc1c59d8fb0469.bindPopup(popup_2e5171c3101e0d161d55b413e79f22f8)
        ;

        
    
    
            var marker_03a38d2d687f69e0fd7554cfcf2e28e0 = L.marker(
                [47.4779338528, -0.559120312378],
                {}
            ).addTo(map_5553b9c3d27055e80e6a0a520b5235fe);
        
    
            var icon_9a8944a9a5ceeb8c351a6aeb851c8647 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_03a38d2d687f69e0fd7554cfcf2e28e0.setIcon(icon_9a8944a9a5ceeb8c351a6aeb851c8647);
        
    
        var popup_11a2c9eafef9ec4ba726d275297e84ac = L.popup({"maxWidth": "100%"});

        
            
                var html_9f41b3ea2b862e8ee3b4b1acb87ca569 = $(`<div id="html_9f41b3ea2b862e8ee3b4b1acb87ca569" style="width: 100.0%; height: 100.0%;">Greniers Saint-Jean</div>`)[0];
                popup_11a2c9eafef9ec4ba726d275297e84ac.setContent(html_9f41b3ea2b862e8ee3b4b1acb87ca569);
            
        

        marker_03a38d2d687f69e0fd7554cfcf2e28e0.bindPopup(popup_11a2c9eafef9ec4ba726d275297e84ac)
        ;

        
    
</script>
</html>
